.codeblock {
  background-color: #1e1e1e;
  color: #c5c8c6;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  position: relative;
  margin: 1em 0;
  border: 1px solid #444;
}


.codeblock-header {
  position: absolute;
  top: 0.3em;
  right: 0.4em;
  display: flex;
  gap: 0.4em;
  padding: 0.1em 0.4em;
  font-size: 0.7em;
  background-color: rgba(43, 43, 43, 0.8);
  border-radius: 3px;
  align-items: center;
}


.codeblock-header::before {
  content: "";
  display: none;
}

.codeblock-lang {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
}

.copy-btn {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
}

.codeblock pre {
  margin: 0;
  padding: 1.5em 1em 1em;
  overflow-x: auto;
  overflow-y: hidden;
}
